<div ng-controller="ANMDataSummaryCtrl">
    <h3>ANM Register Data</h3>

    <div class="row-fluid m10 div-th tr-border">
        <div class="span3"></div>
        <div class="span4">NRHM Reports</div>
    </div>
    <div ng-repeat="anm in anms" class="row-fluid m10 tr-border">
        <div class="span3">
            <b>{{ anm.identifier }}</b><br> {{ anm.subCenter | uppercase}}
        </div>
        <div class="span4"><a href="{{ excelReportsForANM(anm) }}">Download 06/2013</a> | <a href="#registers">Past
            Reports</a></div>

    </div>
</div>
