<span ng-controller="ArchivesCtrl">
        <script type="text/ng-template" id="archived-report-modal.html">
            <div class="modal" role="dialog" aria-labelledby="archived-report-modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
                            <h4>Archived Reports</h4>
                        </div>
                        <div class="modal-body">
                            <label class="small-text">Year:
                                <select ng-model="selectedYear.year" ng-options="y as y for y in years"></select>
                            </label>
                            <label class="small-text">Month:
                                <select ng-disabled="!selectedYear.year" ng-model="selectedMonth.month"
                                        ng-options="m for m in months()"></select>
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">Download</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </script>

         <a ng-click="open()">Archives</a>
</span>