<div class="navbar navbar-fixed-top navbar-tall header" style="background-color: #ffffff">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#/"><img src="https://doc-00-ak-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/2d2qdnnqhmj9l332efa0p2ce156b1dkk/1389074400000/00682365874045304553/*/0B0JtUigWx0r4eEtsUUtfekN4eGs?h=16653014193614665626"/></a>

            <p class="navbar-text pull-right">
                Signed in as {{username}} | <a href="#/logout" class="navbar-link">Sign out</a>
            </p>
        </div>
    </div>
</div>