<div class="navbar navbar-fixed-top subnav subnav-tall">
    <div class="navbar-inner">
        <div class="container-fluid">
            <span class="span-nav">Welcome {{username}}!</span>

            <div class="btn-group">
                <a class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" href="#">
                    Select PHC
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Bherya, Taluk, District</a></li>
                    <li><a href="#">Keelanapuran, Taluk, District</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
